

.Refratherm-aboutus{
    height: 16rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 0px;
    background-color: #dbd5cd;

}

.Refratherm-aboutus img{
    width: 10rem;
    height: 9rem;
}

/* footer */

footer{
    background-color:#8A9BA4;
    color: white;
    height: fit-content;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 21px;
    padding-left: 60px;
    padding-right: 60px;
    font-family: 'Neology-Deco-W03-Regular';
 
}

footer div{
    display: block;
    height: 40rem;
    font-size: 18px;
    width: 50%;
}



.Follow-us .linkdin{
  font-size: 34px;
}

footer li{
    list-style-type:none;
    font-weight: 300;
    font-size: 19px;
    padding-bottom: 15px;
    cursor: pointer;
}

footer li:not(:last-child) {
    margin-bottom: 10px;
    
}




footer  li:hover{
    padding-left: 5px;
    transition: all 0.3s ease;
    /* width: 20%; */

}

.footer-bottam-heading {
  width: 100%;
  background-color: #8a9ba4;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  padding: 0;
  padding-bottom: 58px;
  cursor:unset;
  user-select: none;
  overflow: hidden; /* Add overflow property to hide any overflowing content */
}

.footer-bottam-heading h1 {
  color: #95a4ac;
  font-family: 'Leamington-Bold';
  font-size: 30vw; /* Adjust the font size using viewport units */
  margin: 0;
  line-height: 1;
  width: 100%;
  text-align: center;
  white-space: nowrap; /* Prevent line breaks within the text */
}


footer h2{
  font-size: 23px;
  font-weight: bold;
  padding-top: 11px;
    
}


footer div hr{
    width: 100%;
    margin: 8px 0px 17px;
    height: 0.1px;
    background: white;
  
}

footer .get-help hr{
    margin: 8px 0px 24px;
}


/* navbar */
.navbar {
  background-color:white;
  height: 58px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  color: black;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
 

} 


.menu-bars {
  margin-left: 2rem;
  font-size: 21px;
  background: none;
  border: none;
  padding-right: 1.5rem;
}



.nav-menu {
  background-color: white;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  transition: 0.6s all ease;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 100%;
  transition: 850ms;
  color: black;
  font-size: 21px;
  font-family: system-ui;
  cursor: pointer;
}

.nav-menu.active {
  left: 78%;
    transition: 350ms;
    width: 22%;
    z-index: 5;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px
}

.navbar .navbar-list-heading{
  padding-left: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-list-heading .logo-name{
  text-decoration: none;
  color: inherit;
}

/* this button is not used */

.left-part button{
  padding: 12px 24px 12px 24px;
  background-color: #9C5755;
  color: white;
  border: none;
  border-radius: 35px;
  font-size: 22px;
  margin-top: 40px;
  font-family: 'Neology-Deco-W03-Regular';
  display: none;
  align-items: center;
} 

@font-face {
  font-family: 'Neology-Deco-W03-Regular';
  src: url('../../Fonts/OnlineWebFonts_COM_b67db2fceb09b83e212a59fc81189624/Neology-Deco-W03-Regular/Neology\ Deco\ W03\ Regular.ttf') format(truetype);
}

.left-part h1{
  font-size: 90px;
  font-weight: 500;
  font-family: 'Neology-Deco-W03-Regular';
}
.explore-products{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top: 90px;
}



.left-part{
  width: 47%;
}


.faq-question h1{
  font-size: 80px;
  font-weight: lighter;
  margin-bottom: 12px;
  color:#9C5755
}

.faq-question{
  margin: auto;
  width: 80%;
  margin-bottom: 40px;
  font-family: 'Neology-Deco-W03-Regular';
}

.follow-button{
  font-size: 32px;
  padding: 0px;
 
}

.custom-link{
  text-decoration: none;
  color: black;
}

.custom-footer-Link{
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  font-family: 'Neology-Deco-W03-Regular';
  font-size: 18px;
}

@font-face {
  font-family: 'Leamington-Bold';
  src: url('../../Fonts/OnlineWebFonts_COM_d28b46ab03a6fd61b8bd34da3f68ecf3/Leamington-Bold/Leamington-Bold.ttf');
}



 
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Set the desired background color and opacity */
  z-index: 1;
  opacity: 0; /* Initially hide the overlay */
  transition: opacity 0.3s ease; /* Add a transition effect for smooth opacity changes */
  pointer-events: none; /* Disable pointer events on the overlay to allow interaction with elements underneath */
}

.overlay.visible {
  opacity: 1; /* Show the overlay with full opacity when necessary */
  pointer-events: auto; /* Enable pointer events on the overlay to prevent interaction with elements underneath */
}

.top-blank-bar{
  height: 40px;
  width: 100%;
  background-color: #8A9BA4;
}

.nav-menu {
  /* Other existing styles */
  z-index: 11; /* Ensure the menu appears above the overlay */
}


.nav-text .after img{
  float: right;
    height: 14px;
    width: 9px;
    margin: 5px 1px 0px 0px;
}


.navbar-list-heading .heading-1{
  font-family: 'Leamington-Bold';
  font-size: 23px;
  font-weight: 100;
  padding-bottom: 4px;
}

.navbar-list-heading .heading-2{
  font-size: 19px;
  font-weight: 100;
  font-family: 'monospace';
  display: flex;
  align-items: center;
}

.navbar-icons{
  padding-right: 30px;
  color: black;
  height: 20px;
}

  



.nav-text{
  position: relative;
  cursor: pointer;
  z-index: 99999;
  list-style-type: none;
  font-size: 19px;
  font-family: 'Neology-Deco-W03-Regular';
  color: black;
  padding: 14px;
  margin-right: 13px;
}

.nav-subtext {
  font-size: 19px;
  font-family: 'Neology-Deco-W03-Regular';
  /* margin-bottom: 3px; */
  padding: 10px 0px 10px 10px;
  width: 16rem;
}


.nav-text:hover,.nav-subtext:hover {
  background-color: #e6eaed;
  border-radius: 10px;
}



.sub-menu{
  background-color: #1f1f1f;
  display: block;
  z-index: 99999;
  padding: 10px 0px;
  left: 100%;
  min-width: 200px;

}

.sub-menu li{
  line-height: 30px;
  z-index: 99999;
color: black;}



.nav-texthide{
  margin-top: -48px;
  list-style-type: none;
 
}

.nav-text .hide:hover{
background-color: none;
}





.nav-text .sub-menu li {
  padding: 2px 3px;
  list-style-type: none;
}


.nav-text .sub-menu li a {
  width: auto;
}





.nav-menu-items svg{
  font-size: 30px !important;
}

.nav-menu-items .cross{
  font-size: 32px;
  float: right;
  padding-right: 31px;
}


.nav-text .sub-menu li {
  padding: 8px 16px;
}

.nav-text .sub-menu li a {
  width: auto;
}

.nav-menu-items {
  width: 100%;
  color: black;
  padding-left: 25px;
  padding-top: 0px;
  position: relative;

}



.navbar-toggle {
  width: 83%;
  height: 88px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 28px;
  font-family: 'Neology-Deco-W03-Regular';
  font-weight: lighter;
  margin-left: 0px;
  background: transparent;
} 

.sub-menu{
  position: relative;
  cursor: pointer;
  z-index: 99999;
  left: 1rem;
  width: 6%;
  background: transparent;
}  

.product-heading{
  font-size: 48px;
    font-weight: lighter;
    padding-bottom: 13px;
}

.product-info{
     width: 40%;
     margin: 17px;
     padding: 2px 28px 24px 28px;
     text-align: left;
     font-family: 'Neology-Deco-W03-Regular';
}





.product-info h3{
  
    font-weight: 500;
    font-size: 22px;
    padding: 14px 0px 14px;
}
.product-info .application{
  list-style-type:none;
}

.product-info p{
  padding-bottom: 17px;
  /* font-family: math; */
  font-weight: lighter;
  font-size: 20px;
  color: #716666;
}

.product-info hr{
  height: 1px;
  background: #b0b0b0a1;
  border: none;
}


.product-info hr:nth-of-type(1){
  background-color: black;
}

.product-info .type-product li{
  list-style-type:decimal ;
  padding-bottom: 6px;
}
.product-info .type-product{
  padding-bottom: 5px;
}

/* p:nth-child(2){
  font-size: 20px;
 
} */



.product-main{
  display: flex;
  justify-content: space-around;
  align-items: center;
 
}

.product-main img{
  width: 23rem;
  height: 23rem;
  /* border-radius: 11rem; */
} 


@font-face {
  font-family: 'Neology-Deco-W03-Medium';
  src: url(../../Fonts/OnlineWebFonts_COM_609cf5310e7655e68a5f8b00c1407832/Neology-Deco-W03-Medium/Neology\ Deco\ W03\ Medium.ttf) format('truetype');
}

.banner-box {
  position: relative;
  height: 44.75rem;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

.banner-box::before {
  content: "";
  position: absolute;
  top: -19px;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../images/pexels-joseph-russo-15340288.jpg');
  background-size: cover;
  filter: brightness(0.9);
}



.text-box {
  position: absolute;
  top: 141px;
  left: 207px;
  color: white;
  text-align: left;
  font-family: 'Neology-Deco-W03-Medium';
  font-weight: lighter;
  width: 53rem;
}

.text-box h1 {
  font-size: 68px;
  width: 78%;
  font-weight: lighter;
  margin: 0px;
}

.text-box p{
  font-size:40px;
    /* padding-top: 17px; */
    padding-left: 5px;
    width: fit-content;
    margin: 0px;
}

 





/* contact */

.contact-section-main{
  display:flex;
    flex-direction:column;
    padding: 0px 100px 0px 113px;
  }


.contact-page {
  font-family: 'Neology-Deco-W03-Medium';
  padding: 50px 0px 40px 18px;
}


.contact-page h1{
  font-size: 54px;
  font-weight: lighter;
}

.contact-page p{
  padding-bottom: 40px;
    text-transform: uppercase;
    font-size: 13px;
    color: #757575;
}


.contact-page h1 span{
  color: #9C5755;
}

.article {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.location {
  border: 1px solid #FE5E00;
  width: calc(33.33% - 28px); /* Adjusted width to fit 3 divs in each row */
  margin: 0 12px 39px 12px;
  border-radius: 26px;
  height: 15rem;
  overflow: hidden;
  transition: 0.5s;
}

.location:hover{
  box-shadow: 0px 3px 11px 1px gray;
  cursor: pointer;
  border: none;

  
  .header{
  background-color: #FE5E00;
  color: white;
  }
  
}

.email-link{
  text-decoration: none;
  color: inherit;
  padding-left: inherit;
  font-size: inherit;
}




.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* margin: 0px 60px 0px 60px; */
}


.header{
  padding-top: 20px;
}


.content {
  color: #757575;
  padding: 20px;
}

.content div {
  display: flex;
  padding-top: 3px;
}

.content div img {
  height: 33px;
}

.content div p {
  padding-left: 2px;
  font-family: 'Neology-Deco-W03-Regular';
  font-size: 20px;
  display: flex;
  align-items: center;
}

.summary {
  text-align: center;
  padding-bottom: 18px;
  /* border-bottom: 1px solid #fe5e00; */
  margin: 0px 50px 7px 50px;
  font-family: 'Neology-Deco-W03-Medium';
  font-size: 35px;
  font-weight: 100;
}

.map {
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.map img {
  max-width: 100%;
  height: auto;
}

.toggle-button{
  font-size: 21px;
  background-color: transparent;
  margin-right: 9px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  outline: none;
}

/* faq section */

.FAG-PAGE{
  padding: 0px 100px 0px 113px;
}


.faq-main-box{
  display: flex;
  justify-content: center;
}

.left-faq-heading{
  width: 70%;
  margin-left: 40px;
  margin-top: 30px;
}
.Right-faq-heading{
  margin-top: 40px;
  text-align: center;
  border-right: 2px solid gray;
  padding-right: 40px;
}


.Right-faq-heading div{
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
}


.Right-faq-heading div .vertical-line{
  height: 3rem;
 background-color: #D9D9D9;
  border-radius: 14px;
  width: 7px;
}

.Right-faq-heading div.vertical-line.active{
  background-color: #FE5E00;
}


.Right-faq-heading div h3{
  font-size: 33px;
  font-weight: bold;
  font-family: 'Neology-Deco-W03-Regular';
  color: #757575;
  white-space: nowrap;
}

.Right-faq-heading div h3.active{
  color: black;
}

.Right-faq-heading div:nth-child(1){
  border-bottom: 1px solid black;
}

.bottam-help-line{
  font-family: 'Neology-Deco-W03-Regular';
  margin: 83px 0px 26px 0px;
  text-align: end;
  font-size: 23px;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;

}

.bottam-help-line h3{
border-bottom: 2px solid black;
  font-weight: lighter;
  padding-bottom: 2px;
}

.bottam-help-line h3 span{
  color: #9C5755;
}

/* faq help center */

.Feedbackfrom.active{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
  /* backdrop-filter: blur(1px); */
}

.contactform {
  position: fixed;
  top: 123%;
  left: 0%;
  right: 0%;
  width: 83%;
  height: 100vh;
  z-index: 1000;
  margin: auto;
  transition: 0.6s;
}

.contactform.active {
  top: 5%;
}

.help-center-form-container {
  position: relative;
}

.close-icon-container {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 999;
  background: transparent;
}

.close-icon-container svg{
  font-size: 27px;
  color: white;
}


.image-container {
  position: relative;
}





.help-center-form-container {
  max-width: 1096px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
   background-color: white;
 
}

.help-center-form {
  display: flex;
  flex-direction: column;
  width: 47%;
  justify-content: center;
  align-items: self-start;
  padding-left: 40px;
    padding-right: 50px;
}

.form-row {
  margin-bottom: 20px;
  display: flex;
}

.form-column {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-right: 15px;
}

.custom-label {
  font-weight: bold;
  /* margin-right: 15px; */
}

.custom-input,
.custom-textarea {
  padding: 15px;
  border: 1px solid #716666;
  width: 100%;
  resize: none;
  outline: none;
  font-size: 14px;
  box-sizing: border-box;
}

.error-message{
  color: red;
}

.success-message{
  color: #7D7D7D;
}

.response{
  font-family: 'Neology-Deco-W03-Regular';
    font-size: 19px;
    padding-top: 10px;
}
.form-row:nth-child(4){
  width: 95%;
}


.custom-button {
  background-color: #FE5E00;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px 40px 10px 40px;
  font-family: 'Neology-Deco-W03-Medium';
  font-size: 20px;
  font-weight: lighter;
  
}

.image-container {
  display: flex;
  justify-content: center;
  width: 55%;
}

.image-container img {
  width: 100%;
  height: 39rem;
}

.form-headings{
  margin-bottom: 40px;
  text-align: left;
}

.form-headings h1{
  font-family: 'Neology-Deco-W03-medium';
  color: #9C5755;
}

.form-headings p{
  color: #515151;
  font-family: 'Neology-Deco-W03-medium';
  padding-top: 10px;
}

.form-headings p span{
  border-left: 1px solid #9C5755;
  font-family: 'Neology-Deco-W03-medium';
  margin-left: 8px;
  padding-left: 8px;
}

.custom-input.error {
  border-color: red;
}

/* product-page-bottom-product */

.product-card{
  width: 24rem;
  height: 17rem;
  margin-left: 40px;
  border-radius: 23px;
}

.product-card img{
  width: 381px;
  height: 184px;
  border-radius: 23px;
}
.product-card p{
  font-size: 22px;
}

.product-card .bottam-text{
  height: 60px;
  margin: 0px;
}

.product-component-text{
  font-size: 40px !important;
  padding-bottom: 36px !important;
  padding-left: 33px !important;
}


/*  */

/* product-table-show */

.product-table {
  position: fixed;
    top: 0;
    left: -130%;
    width: 83%;
    height: 100vh;
    background-color:#95a4ac;
    transition: left 0.5s;
    z-index: 1000;
    padding: 40px 60px 0px 60px;
 
}

.product-table {
  overflow-y: scroll;
}

.product-table::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}

.product-table::-webkit-scrollbar-thumb {
  background-color: transparent;
}






.table-top-heading h1{
  font-size: 43px;
  font-family: 'Neology-Deco-W03-Regular';
  color: white;
}

.table-top-heading hr{
  height: 3px;
  background: white;
  margin-top: 24px;

}

.table-top-heading{
  padding: 5px 0px 60px 0px;
}


.product-table.active{
  left: 0;
}

.product-table-overlay.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /* background-color: rgba(0, 0, 0, 0.6); */
  z-index: 999;
  backdrop-filter: blur(1px);
}



.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: white;
  font-size: 32px;
  margin: 10px;
}

/*  */

/* graph component */

.Graph-page{
  position: relative;
  overflow: hidden;
}

.Graph-flex-box{
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding-bottom: 45px;
  margin: 70px 97px 70px 97px;

}

.Graph-flex-box::-webkit-scrollbar {
  width: 5px; /* Adjust the width as needed */
  height: 4px; 
  -webkit-appearance: none;
} 

.Graph-flex-box::-webkit-scrollbar-track {
  background-color: #EBEFF0; /* Light gray */
  -webkit-appearance: none;
  
}

.Graph-flex-box::-webkit-scrollbar-thumb {
  background-color: #8A9BA4; /* Gray */
 max-width: 5px; /* Adjust the width as needed */
  height: 30px; /* Adjust the height as needed */
}







.carousel-items > * {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  scroll-snap-coordinate: 0% 0%;
  scroll-snap-type: y mandatory;
}



.Main-graph-container{
  width: 100%;
  text-align: center;
  font-family: 'Neology-Deco-W03-Regular';
  /* border-right: 2px solid lightgray; */

}

.Main-graph-container h1{
  font-weight: lighter;
  color: #5A7D9F;
  font-size: 23px;
  padding-bottom: 18px;

}

.container{
  /* width: 470px; */
  height: 370px;
  display: flex;
  /* margin: 0px 40px 0px 40px; */
}

.line{
  background: lightgray;
  width: 2px;
  margin: 0px 40px 0px 40px;
}


.container .boxes{
  width: 60px;
  border-radius: 43px;
  margin: 30px 8px 8px 9px;
  background-color: #EBEFF0;
  align-items: self-end;
  display: flex;
  padding: 10px;
  flex-direction: column-reverse;
  height: 75%;
  align-items: center;
 
}

.container div .boxes .child-box{
    border-radius: 40px;
    /* height: 81%; */
    /* padding: 30px; */
    width: 100%;
}



.container div:nth-child(1) .boxes .child-box{
  background-color: #6A6969;
}
.container div:nth-child(2) .boxes .child-box{
  background-color: #8A6133;
}
.container div:nth-child(3) .boxes .child-box{
  background-color: #36808A;
}
.container div:nth-child(4) .boxes .child-box{
  background-color: #CFA825;
}
.container div:nth-child(5) .boxes .child-box{
  background-color: #81ACC3;
}

.container div{
  display: flex;
  flex-direction: column;

}

.container div span{
  text-align: center;
  font-weight: bold;


}

.container .boxes span{
  color: #9C5755;
  margin: auto;
  margin-bottom: 15px;
  font-weight: lighter;

}

/*  */





@media only screen and (max-width: 767px) {

  /* product table */

  .product-table{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  .table-top-heading h1{
    font-size: 30px;
  }
 

  /*  */


  /* product-page-card-image */

  .product-card{
    max-width: 13rem ;
    max-height: 123px;
    border-radius: 20px;
    margin-left: 20px;
  }

  .product-card img{
   max-width: 180px !important;
    max-height: 77px;
    border-radius: 20px;
  }

  .product-card p{
    font-size: 14px;
  }

  .product-card .bottam-text{
    height: 30px;
    padding-left: 9px;
  }

  /*  */

  /* graph page */
.graph{
  /* border-right: 1px solid gray; */
  /* margin: auto; */
  margin: 0;
  flex-direction: column;
  align-items: center;
}



 .Main-graph-container{
  border-right: 2px solid lightgray;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
 }
  .Graph-flex-box{
    margin: 25px 0px 33px 0px;
  padding-bottom: 0px;
  /* flex-direction: column; */
  height: 24rem;
  }

  .container .boxes{
    height: 54%;
    padding: 7px;
    margin: 20px 2px 8px 8px;
    width: 41px;
  }

  .line{
    display: none;
  }
  /*  */


  .location.active {
    background-color: #F3F3F3;
    .summary{
      border-bottom: 1px solid #fe5e00;
    }
  }
.header{
  display: flex;
  justify-content: space-between;
  margin: 0px 7px 0px 38px;
 
}

.location:hover{
  .header{
    background-color: transparent;
    color: black;
  }
}

  .row{
    display: block;
    margin: 0px;
  }

  /* contact */

  .contactform{
    width: 100%;
  }

  .contactform.active{
    top: auto;
    bottom: 0;
    height: auto;
  }

  .close-icon-container svg{
    color: black;
  }

   .article{
    order: 4;
    display: block;
   }
   .location{
    width: 100%;
    border-radius: 0px;
    height: auto;
    margin: 0px;
    border: none;
    padding: 5px 0px 5px 0px;
    
  
  }
.location:hover{
  transform: none;
  box-shadow: none;
  filter: none;
}

.summary{
  text-align: left;
  padding: 10px 0px 10px;
  font-family: 'Neology-Deco-W03-regular';
  font-size: 28px;
  font-weight: lighter;
  margin: 0px
}

.summary.clickable{
  width: 100%;
}
.contact-page{
  padding: 20px 0px 0px 18px;
}
.contact-page h1{
  font-size: 38px;
}

.contact-page p{
  padding-bottom: 24px;
}

.contact-section-main{
  padding:0px;
}

.content{
  padding: 12px 0px 13px 51px;
  width: 17rem;
}


/* faq responsive */


.faq-main-box{
  display: block;
}

.Right-faq-heading{
  display: flex;
  border-right: none;
  border-bottom: 2px solid gray;
  justify-content: flex-start;
}

.FAG-PAGE{
  padding: 0px;
}

.left-faq-heading{
  width: 100%;
  margin-left: 0px;
  margin-top: 10px;
}

.faq-main-box{
  width: 90%;
  margin: auto;
}

.left-faq-heading div .question-box  h2{
  font-size: 4px;
}

.Right-faq-heading div:nth-child(1) {
  border: none;
}

.Right-faq-heading div{
  margin-right: 30px;
}


.faq-heading-item {
  border-bottom: 2px solid transparent;
}


.Right-faq-heading div .vertical-line{
  display: none;
}

.Right-faq-heading div h3{
  border-bottom: 4px solid transparent;
 padding-bottom: 15px;
 transition: 0.2s;
 font-weight: lighter;
 font-size: 20px;
}

.Right-faq-heading div h3 span{
  display: none;
}

.Right-faq-heading div h3.active{
  border-bottom: 4px solid #fe5e00;
  padding-bottom: 15px;

}

.Right-faq-heading div{
  padding-bottom: 0px
}

.bottam-help-line{
  margin: 30px 20px 30px 0px;
  font-size: 15px;
}



/*  */

/* help center responsive */

.image-container{
  display: none;
}

.help-center-form{
  padding: 0px;
  width: 100%;
  box-sizing: border-box;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.form-row{
  display: block;
  margin-bottom: 0px;
}

.form-column{
  width: 100%;
}

.custom-button{
  width: 100%;
}

.help-center-box{
  width: 100%;
  padding: 25px;
  box-sizing: border-box;
}

.help-center-form-container{
  border-radius: 26px;
}
.form-row:nth-child(4){
  width: 100%;
}
/*  */


  .navbar{
    height: 54px;
  } 

  .nav-menu.active{
    left: 25%;
    width: 75%;
  }
.navbar-icons{
  width: 20px;
  height: 20px;
}


   .footer-bottam-heading {
    /* height: 10rem; */
    padding-bottom: 27px;
  }
  /* .footer-bottam-heading h1{
    font-size: 6rem;
    line-height: normal;
  }    */

 .navbar-list-heading .heading-1{ 
    font-size: 24px;
    padding-left: 14px;

  } 
 

  .faq-box{
    width: 90%;
    padding-bottom: 2rem;
  }
  .questions h3{
    text-align: center;
  }
 .faq-box .number{
    padding-left: 2rem;
  }
  footer,.faq-box{
    display: block;
   }
   .Refratherm-aboutus img{
    display: none;
  }
  .product-info{
    width: 100%;
    margin: 0;
    box-sizing: border-box;
  }
  .product-main{
    text-align: center;
    display:inline-block;
  }

 
    
  .product-main img{
    width: 17rem;
    height: 17rem;
  }
  .navbar .navbar-list-heading,.menu-bars{
    padding-left: 0px;
  }
  .explore-products{
    display: block;
    padding-left: 23px;
    margin-top: 38px;
  }

  footer div hr{
   
    display: none
  }
 
  

  .text-box h1 {
    width: 18rem;
    font-weight: lighter;
    font-size: 34px;

} 
.banner-box{
  height: 13rem;
}


.text-box{
  top: 28px;
  left: 17px;
  width: 18rem;
}
.text-box p{
  padding-top: 81px;
  color: black;
  font-size: 15px;
} 
.text-box p span{
  color: #9C5755;
  margin-left: 0px;
}
.left-part h1{
  width: 18rem;
  height: 10rem;
  font-size: 42px;
  padding: 0px;
}

.left-part button{
  width: 12rem;
  font-size: 15px;
  margin-top: 6px;
}



.Right-part{
  padding-top: 60px;
}

.faq-question h1{
  font-size: 34px;
}

.Follow-us .linkdin{
  font-size: 40px;
  
}
footer h2{
 font-size: 22px;
 display: flex;
 justify-content: space-between;
}

footer li {
  font-size: 15px;
}

footer .Follow-us{
  height: 3rem;
  padding-top: 15px;
}

footer .Follow-us hr{
  display: block;
  
}




.product-list {
  display: none; /* Default state: hidden */
}

.product-list.show {
  display: block; /* Show the product list when showProductList is true */
}

.email-list {
  display: none; /* Default state: hidden */
}

.email-list.show {
  display: block; /* Show the email list when showProductList is true */
}

.career-list{
  display: none;
}

.career-list.show{
  display: block;
}

.Learn-list{
  display: none;
}

.Learn-list.show{
  display: block;
}

footer div{
  height: auto;
  width: 100%;
  padding-bottom: 20px;
}

footer div:not(.Follow-us) > h2::after {
  content: "";
  display: block;
  background: url('../images/footers-arrows.svg') center no-repeat;
  padding: 10px;
  margin-bottom: 10px;
  background-size: 20px;
}


footer div ul{
  padding-top: 10px;
}

footer{
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 55px;
}

.follow-button{
  font-size: 28px;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Follow-us {
  order: 5;
}

.Product-info {
  order: 1;
}

.Learn {
  order: 2;
}

.contact-info {
  order: 3;
}

.Careers {
  order: 4;
}



}



@media (min-width: 768px) and (max-width: 1024px) {
 
  .faq-box {
    width: 90%;
  }

.FAG-PAGE{
  padding: 0px 20px 0px 20px;
}
  .contact-section-main {
    padding: 0px 20px 0px 20px
  }

  .content div p{
    font-size: inherit;
  }

  .Refratherm-aboutus img{
    display: none;
  }
.product-main{
  display: inline-block;
  text-align: center;
}
.product-info{
  width: 89%;
}
.nav-menu.active{
  width: 44%;
left: 56%;}

.navbar-icons{
  width: 20px;
  height: 20px;
}
.navbar .navbar-list-heading,.menu-bars{
  padding-left: 26px;
}


.text-box{
  left: 87px;
  width: 35rem;
}
.text-box h1{
  font-size: 54px;
  width: 33rem;
}
.text-box p{
  font-size: 24px;
}
footer div hr{
  width: 20rem;
}
.left-part{
  width: 41%;
    padding-left: 20px;
}
.explore-products {
  display: block;
  padding-left: 70px;
  padding-bottom: 39px;
  margin-top: 9rem;
}
.left-part{
  width: 74%;
    padding-left: 20px;
    padding-bottom: 40px;
}






}