.join-card-container{
  margin: auto;
  width: 100%;
}

.Join-page{
      width: 85%;
    padding: 20px 0px 40px 7%;
    font-size: 33px;
    font-family: Neology-Deco-W03-Medium;
    font-weight: lighter;
}

.Join-page h1{
  font-weight: lighter;
  font-size: clamp(39px, 2vw, 50px); 
}
.Join-page h2{
  font-size: 28px;
  font-weight: lighter;
  padding-top: 35px;
  font-family: 'Neology-Deco-W03-Regular';
}

.Join-page p{
  font-size: 13px;
  padding-bottom: 30px;
  padding-top: 28px;
  color: #757575;
  font-weight: lighter;
  text-transform: uppercase;
}


.join-card-image{
  width: 100%;
  /* height: 100%; */
  object-fit: contain;
}

.join-form{
  margin-bottom: 100px;
  display: flex;
  justify-content: space-around;
  font-family: 'Neology-Deco-W03-Regular';
  font-size: 20px;
  background-color: #F7F7F7;
}

.join-form .join-left-part{
  margin: auto;
  width: 40%;

}

.join-left-part p{
  padding-bottom: 30px;
  font-size: 35px;
  font-size: clamp(24px, 4vw,35px);
 
}

.join-form span{
  color:#FE5E00;
}

.join-left-part .join-email-box{
  padding-top: 25px;
  align-items: center;
  display: flex;
  height: 4rem;
}

.join-right-part img{
  width: 100%;
}

.join-email-box .email-line{
  background-color: #9C5755;
    width: 9px;
    border-radius: 10px;
    height: inherit;
    margin-right: 25px;
}

.Join-heading-para div p {
  text-align: center;
}
.Join-heading-para div:nth-child(1){
padding-top: 0;
}

.Join-heading-para div:nth-child(2){
  background-color:#EBEFF0
}
.Join-heading-para div:nth-child(3){
  background-color: #E8E8E8
}



.Join-heading-para div{
  margin-top: 20px;
  /* border: 2px solid black; */
  font-size: 20px;
  padding: 5% 10% 5% 10%;
  font-family: 'Neology-Deco-W03-Regular';
  font-size: 30px;
  
}

.quatation-mark{
  height: 90px;
  
}


.quation-mark-box{
  display: flex;
  width: 100%;
  justify-content: end;
}

.Join-heading-para div .para-highlights{
  color: #FE5E00;
}

.Top-para-div{
  position: absolute;
    padding: 10px 70px 10px 70px;
    transform: translate(0px, 0px);
    background-color: #FE5E00;
    left: 0;
    display: none;
}

.Top-left-div{
    /* top: 10.1%;
    left: 0%; */
    transform: translate(0px, -22px);
}

.bottam-right-div{
  right: 0;
  transform: translate(0px, -30px);
}

.bottam-right-div ,.Top-left-div{
  background-color: #FE5E00;
  position: absolute;
  padding: 25px 60px 25px 60px;
}

.mobile-view-top-div,.mobile-view-bottam-div{
  display: none;
}



@media only screen and (max-width: 480px) {
  .Join-page h2{ font-weight: bold;
  padding-top: 50px;}
  .Join-page h1{
    padding-bottom: 30px;
  }
  .Join-page{
    width: 90%;
  }
  .join-form{ flex-direction: column;
    position: relative;
  }

  .mobile-view-bottam-div,.mobile-view-top-div{
    position: absolute;
    display: block;
    background-color: #FE5E00;
    width: 140px;
    padding: 13px;
    /* transform: translate(0px, -22px); */
  
  }

  .bottam-right-div{
    display: none;
  }
.Top-left-div{
  right: 0;
  transform: translate(0px, -10px);
  padding: 10px 70px 10px 70px;
}

.Top-para-div{
  display: block;
  
}

  .mobile-view-top-div{
    top: 0;
    transform: translate(0px, -12px);
  }

  .mobile-view-bottam-div{
    right: 0;
    transform: translate(0px, -18px);
  }

  .join-form .join-left-part{
    order: 1;
  }
  .join-form .join-left-part{
    width: auto;
    padding: 8%;
}
 .join-left-part .join-email-box{
  display: block;
  text-align: center;
  font-size: 15px;
}
.join-email-box .email-line{
  width: 28%;
  height: 9px;
  margin: auto;
  margin-bottom: 15px;
}

.Join-heading-para div{
  font-size: 24px;
  font-weight: bold;
}

.quatation-mark{
  height: 54px;
}
.join-left-part p{
  font-weight: bold;
}

}


@media screen and (min-width: 768px) and (max-width: 1024px) {


.join-left-part{
  width: 55%;
  PADDING: 48PX;
}

}