.custom-table {
    border-collapse: collapse;
    width: 100%;
    font-size: 23px;
  }
  
  .custom-table th,
  .custom-table td {
    border: 1px solid white;
    padding: 8px;
    text-align: left;
  }
  
  .tables-headings{
    font-family: 'Neology-Deco-W03-Medium';
    padding-bottom: 15px;
    padding-top: 18px;
    font-size: 27px;
    color: #48565e;
  }
  

  
  .table{
    font-family: 'Neology-Deco-W03-medium';
    font-weight: bold;
    font-size: 19px;
  overflow: auto;
    width: 100%;
   
    margin-bottom: 13px;

  }

  .table table{
    color: white;
  }

  .table table thead{
    color: #48565E;
    text-align: center;
  }

  th.align-right {
    text-align: left;
  }

  th .align-left{
    text-align: left;
  }


  
  th:not(.align-right):not(.align-left) {
    text-align: center;
  }


  .table table tr td{
    text-align: center;
    /* height: 65px; */
    height: 60px;
  }

  .table table thead tr th{
  
    /* height: 80px; */
    height: 70px;
    /* text-align: center; */

  }

  .paragraph-bottom-discription{
    color: white;
    padding-top: 35px;
    padding-left: 12px;
  }

  @media only screen and (max-width: 767px) {

    /* product table */
  
    .product-table{
      width: 100%;
    }
    .custom-table{
      font-size: 18px;
    }

  }